* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url(Images/Hero-bg.png);
  background-position: center;
  background-size: cover;
  height: 700px;
}

/* Universal button style used across the entire site */
.btn {
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding: 15px 32px;
  background-color: #4e47ff;
  border-radius: 10px;
  border: none;
  transition: all 0.4s ease;
  cursor: pointer;

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

.btn:hover {
  background-color: crimson;
  transform: scale(1.05);
  box-shadow: 5px 5px 10px rgba(220, 20, 60, 0.25);
}

.navbar {
  margin: 0 auto;
  width: 1140px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: #4e47ff;
  font-style: normal;
  font-weight: 800;
  font-size: 2em;
}

.banner {
  width: 900px;
  margin: 150px auto;
  text-align: center;
}
.banner h1 {
  font-size: 4em;
  margin-bottom: 40px;
  color: #252432;

  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

.action {
  width: 1140px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 110px auto;
}
.action-details {
  width: 500px;
}
.action-details h1 {
  font-size: 2.5em;
  color: #252432;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

.action-details p {
  font-size: 1.4em;
  margin: 16px auto;
  color: rgba(37, 36, 50, 0.603);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
}
.action img {
  object-fit: cover;
  border-radius: 50px;
}

.users {
  background: rgba(77, 71, 255, 0.1);
  width: 1140px;
  margin: 110px auto;
  border-radius: 24px;
  padding:50px  50px;
}
.users-content {
  width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.users-title {
  text-align: center;
  margin-bottom:40px;
}

.users-title h1 {
  font-size: 2.5em;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;

}


.users-left,
.users-center,
.users-right {
  text-align: center;
}

.number {
  font-size: 5em;
  color: #4e47ff;

 font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;

}

.bottom-label {
  font-size: 1.2em;
  color: rgba(37, 36, 50, 0.603);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
}
